/build
/install
/log
*pycache*
*venv*
build
log
install
resource
test
*.xml
*.avi
*.jpg
*.png
/src/ament
/src/build
/src/eclipse-cyclonedds
/src/eclipse-iceoryx
/src/eProsima
/src/gazebo-release
/src/install
/src/log
/src/osrf
/src/ros
/src/ros2
/src/ros-perception
/src/ros-planning
/src/ros-tooling
/src/ros-visualization
/src/vision_opencv